{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'TwigBundle::errorLayout.html.twig' %}

{% block exception %}
    <h2>{{ 'error_state.title.404'|trans({}, "messages", locale) }}</h2>
    <span>404</span>
{% endblock %}