{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% extends 'TwigBundle::errorLayout.html.twig' %}

{% block exception %}
    <h2>{{ 'error_state.title.403'|trans({}, "messages", locale) }}</h2>
    <span>403</span>
{% endblock %}