/.idea/

/app/bootstrap.php.cache
/app/phpunit.xml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/config/common/*
!/app/config/common/config.yml

/bin/

/src/AppBundle/Resources/public/node_modules
/src/AppBundle/Resources/cipher_files/*

/vendor/

/www/bundles/

/composer.lock
